Spotify tracker.json
{
  "name": "Spotify tracker",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        208,
        0
      ],
      "id": "269f04a7-a3e3-46fa-8cb8-e99c7adfb43c",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "url": "http://api.scraperapi.com?api_key=PASTE_YOUR_API_KEY_HEREEE&url=https%3A%2F%2Fapkmody.com%2Fapps%2Fspotify-2",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        384,
        0
      ],
      "id": "06f69f86-a0fa-45fc-9b8f-b48450226b94",
      "name": "HTTP Request",
      "credentials": {
        "httpHeaderAuth": {
          "id": "37fzWq1cZZceX3pn",
          "name": "Header Auth account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Get the HTML from the Scrape.do response\nconst html = $input.first().json.data;\n\n// We look for the \"Updated On\" text, then find the date inside the <time> tag\n// This matches: <time datetime=\"...\">February 19, 2026</time>\nconst dateMatch = html.match(/Updated On<\\/th>\\s*<td.*?>\\s*<time.*?>(.*?)<\\/time>/i);\n\nreturn {\n  latest_website_date: dateMatch ? dateMatch[1].trim() : \"Date not found\"\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        608,
        -16
      ],
      "id": "e4c0d8d5-1474-49e6-8f1c-ace2a91b9cc2",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "documentId": {
          "__rl": true,
          "value": "1v62euddGEZDmnowjGnqUJ8oFSonPPqvGx4ivZ1ZA6qw",
          "mode": "list",
          "cachedResultName": "M-PESA Accountant",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1v62euddGEZDmnowjGnqUJ8oFSonPPqvGx4ivZ1ZA6qw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 793932237,
          "mode": "list",
          "cachedResultName": "Trackers",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1v62euddGEZDmnowjGnqUJ8oFSonPPqvGx4ivZ1ZA6qw/edit#gid=793932237"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Service Name",
              "lookupValue": "Spotify"
            }
          ]
        },
        "options": {
          "returnFirstMatch": false
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        848,
        -16
      ],
      "id": "5347287b-be91-4797-b951-3bff6285157a",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleApi": {
          "id": "CxdVYM817qFrtRuB",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "de0c2a66-ac26-4185-898b-d9c3b0a0ec73",
              "leftValue": "={{ $node[\"Code in JavaScript\"].json[\"latest_website_date\"] == \"February 19, 2026\" ? \"2026-02-19\" : $node[\"Code in JavaScript\"].json[\"latest_website_date\"] }}",
              "rightValue": "={{ $node[\"Get row(s) in sheet\"].json[\"Last Date\"].toString().trim() }}",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        1040,
        -48
      ],
      "id": "b67b0e72-7346-4280-9bcf-0cc90767736a",
      "name": "Filter"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://ntfy.sh/Spotify_update",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "message",
              "value": "=🎵New Spotify Update just dropped and Updated on {{ $node[\"Code in JavaScript\"].json[\"latest_website_date\"] }} visit https://apkmody.com/apps/spotify-2"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1216,
        -80
      ],
      "id": "a8a3a33e-db0a-4034-a9cb-22754ce09d61",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "authentication": "serviceAccount",
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1v62euddGEZDmnowjGnqUJ8oFSonPPqvGx4ivZ1ZA6qw",
          "mode": "list",
          "cachedResultName": "M-PESA Accountant",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1v62euddGEZDmnowjGnqUJ8oFSonPPqvGx4ivZ1ZA6qw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 793932237,
          "mode": "list",
          "cachedResultName": "Trackers",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1v62euddGEZDmnowjGnqUJ8oFSonPPqvGx4ivZ1ZA6qw/edit#gid=793932237"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "row_number": "={{ $node[\"Get row(s) in sheet\"].json[\"row_number\"] }}",
            "Last Date": "={{ $node[\"Code in JavaScript\"].json[\"latest_website_date\"] }}",
            "Checked At": "={{ $now }}"
          },
          "matchingColumns": [
            "row_number"
          ],
          "schema": [
            {
              "id": "Service Name",
              "displayName": "Service Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Last Date",
              "displayName": "Last Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Checked At",
              "displayName": "Checked At",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1424,
        -80
      ],
      "id": "5ce90deb-c0da-4d41-bf0a-af904cb00188",
      "name": "Update row in sheet",
      "credentials": {
        "googleApi": {
          "id": "CxdVYM817qFrtRuB",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false,
    "timeSavedMode": "fixed",
    "timezone": "Africa/Nairobi",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "versionId": "3a28e4ca-a14f-4d29-a550-701cd877138b",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "792335c61902a424bc6700785d7cb48c3126d2c4f4202182753db8204e9d96ca"
  },
  "id": "BZV_l7O90LjMCQjDwSjch",
  "tags": []
}